@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --cyan-color: #06c7e9;
    --midnight-blue: #030a25;
}

/* Navbar css  starts*/
.nav-link{

    transition: 1s !important;
    border-radius: 5px;
}
.nav-link:hover{
    box-shadow: 0 0 20px 10px blueviolet;
}

/* Navbar css  ends*/

.bg-slider{
    background: url(./assets/img/shadowNight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;

}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/img/shadowNight.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;
}

.banner p{
    font-size: 5em !important;
}

.banner span{
    font-size: 1em !important;
    color: 	white !important;
}

.span-shadow{
    text-shadow: 10px 5px 50px 	blueviolet;
}

.mix-box{

    border: 1px solid black !important;
    box-shadow: 10px 5px 60px 70px black !important;

}
.bg{
    background: url(./assets/img/background.avif);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto ;

}

/* Service part starts */

.service-box{
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    transition: 1s;
    border: 1px solid white;
}

.service-box:hover{
    font-size: 3em !important;
    background-color: var(--midnight-blue);
    box-shadow: 0 0 25px 10px blueviolet;

}
/* Service part ends */


/* Footer part starts */
.footer{
    background-color: var(--midnight-blue);
}

.footer a{
    text-decoration: none !important;
    transition: 0.5s;
    
}

.footer a:hover{
    background-color: black ;
    box-shadow: 0 0 25px 10px blueviolet;

}
/* Footer part ends */


/* Media part starts */


/* Media part ends */